@model SakilaApp.Models.Actor
@{
    ViewData["Title"] = "Editar actor";
}
<h1>Editar actor</h1>
<form asp-action="Edit">
    <input type="hidden" asp-for="ActorId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
