{
ViewData["Title"] = "Inicio";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido a SakilaApp</h1>
    <p>Sistema de gestión de alquiler de películas</p>
    <hr />
    <div class="row mt-5">
        <div class="col-md-3 mb-3">
            <a href="/Films" class="btn btn-primary
            w-100">Películas</a>
        </div>
        <div class="col-md-3 mb-3"><a href="/Actors" class="btn btnsecondary w-100">Actores</a></div>
        <div class="col-md-3 mb-3"><a href="/Categories" class="btn btnsuccess w-100">Categorías</a></div>
        <div class="col-md-3 mb-3">
            <a href="/Customers" class="btn btn-info
            w-100">Clientes</a>
        </div>
        <div class="col-md-3 mb-3"><a href="/Rentals" class="btn btnwarning w-100">Alquileres</a></div>
        <div class="col-md-3 mb-3"><a href="/Stores" class="btn btn-dark w100">Tiendas</a></div>
        <div class="col-md-3 mb-3"><a href="/Inventories" class="btn btndanger w-100">Inventarios</a></div>
    </div>
</div>