@model SakilaApp.Models.Film

@{
    ViewData["Title"] = "Eliminar película";
}

<h1>Eliminar película</h1>
<h3>¿Está seguro de eliminar "@Model.Title"?</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="FilmId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>