@model SakilaApp.Models.Inventory
@{
    ViewData["Title"] = "Editar inventario";
}
<h1>Editar inventario</h1>
<form asp-action="Edit">
    <input type="hidden" asp-for="InventoryId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="FilmId" class="form-label"></label>
        <input asp-for="FilmId" class="form-control" />
        <span asp-validation-for="FilmId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="StoreId" class="form-label"></label>
        <input asp-for="StoreId" class="form-control" />
        <span asp-validation-for="StoreId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}